{% extends 'base.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
    <div class="container mt-5 w-75">
        <div class="row justify-content-center">
            {{ include('block_for_include/flash_bag.html.twig') }}
            <h1 class="text-center col-12">Réinitialiser votre mot de passe</h1>
            <div class="col-sm-10 col-md-8 col-lg-6  border border-dark rounded p-2">
                {{ form_start(form) }}
                {{ form_row(form.email,{ 'attr': {'placeholder': 'Ajouter votre email'}}) }}
                {{ form_row(form.pseudo,{ 'attr': {'placeholder': 'Ajoutez votre nom'}}) }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success">Réinitialiser</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}