{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="">
        <img class="bg" src="https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg"
             alt="">
        <div class="centered">Phrase d'accroche</div>
        <a href="#tricks">
            <i class="fas fa-arrow-circle-down centeredright"></i>
        </a>
    </div>
    <div class="container">
        <h1 class="my-4" id="tricks">Liste des figures
        </h1>
        <div class="row">
            {% if figures is defined %}
            {% for figure in figures %}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        {#todo : recuperer l'image de la figure#}
                        <a href="{{ path('trick', {slug: figure.slug}) }}"><img class="card-img-top"
                                                                             src="http://placehold.it/700x400"
                                                                             alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('trick', {slug: figure.slug}) }}">{{ figure.name }}</a>
                            </h4>
                            <p class="card-text">{{ figure.description }}</p>
                            {% if app.user %}
                                <div class="d-flex align-items-end flex-column">
            <span class="d-inline-block">
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ figure.slug }}">
  <i class="material-icons">delete_sweep</i>
</button>

                {# todo : take modal block for include here#}
                <!-- Modal -->
<div class="modal fade" id="exampleModal{{ figure.slug }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Etes-vous sûr de vouloir supprimer cette figure ?
      </div>
      <div class="modal-footer">
          <button onclick="location.href='{{ path('delete.trick', {slug: figure.slug}) }}'" type="button"
                  class="btn btn-primary">
         <i class="material-icons">delete_sweep</i></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
            <button type="button" class="btn btn-outline-primary"><a
                        href="{{ path('edit.trick', {slug: figure.slug}) }}"><i
                            class="material-icons">create</i></a></button>
        </span>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endfor %}
                {% else %}
                {# todo Ajouter un block "pas de figure"#}
            {% endif %}
        </div>
    </div>
{% endblock %}
