{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center img_home_background">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center p-3 mb-2 bg-info text-white home_title">Phrase d'accroche</h1>
            </div>
                <a href="#tricks" class="bottom-right">
                    <i class="fas fa-arrow-circle-down"></i>
                </a>
        </div>
    </div>
    {% if figures is empty %}
        {{ include('block_for_include/no_tricks_for_now.html.twig') }}
    {% else %}
        <div class="container">
        <h1 class="my-4 text-center" id="tricks">Liste des figures
        </h1>
        <div class="row justify-content-center">

        {% for figure in figures %}
            {% for picture in figure.pictureslinks %}
                {% if picture.firstimage == true %}
                    {% set picturefirst = picture.linkpictures %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ path('trick', {slug: figure.slug}) }}"><img class="card-img-top"
                                                                                    src={{ asset('uploads/figureimage/' ~ picturefirst) }}
                                                                                    alt=""></a>
                            <div class="card-body d-flex">
                                <h4 class="card-title mr-auto">
                                    <a href="{{ path('trick', {slug: figure.slug}) }}">{{ figure.name }}</a>
                                </h4>
                                {% if app.user %}
                                    {#<div class="d-flex align-items-end flex-column">#}
                                    <span class="ml-auto d-inline">
                                            {{ include('block_for_include/modal_delete_trick.html.twig') }}
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#exampleModal{{ figure.slug }}">
                                              <i class="material-icons">delete_sweep</i>
                                            </button>
                                            <button type="button" class="btn btn-outline-primary"><a
                                                        href="{{ path('edit.trick', {slug: figure.slug}) }}"><i
                                                            class="material-icons">create</i></a>
                                            </button>
                                    </span>
                                            {#</div>#}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
