{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="">
        <img class="bg" src="https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg"
             alt="">
        <div class="centered">Phrase d'accroche</div>
        <a href="#tricks">
            <i class="fas fa-arrow-circle-down centeredright"></i>
        </a>
    </div>
    <div class="container">
        <h1 class="my-4" id="tricks">Page Heading
        </h1>
        <div class="row">
            {% for figures in figures %}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">

                        {#todo : recuperer l'image de la figure#}
                        <a href="{{ path('trick', {id: figures.id}) }}"><img class="card-img-top"
                                                                             src="http://placehold.it/700x400"
                                                                             alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('trick', {id: figures.id}) }}">{{ figures.name }}</a>
                            </h4>
                            <p class="card-text">{{ figures.description }}</p>
                            {% if app.user %}
                                <div class="d-flex align-items-end flex-column">
            <span class="d-inline-block">
            <a href="{{ path('edit.trick', {id: figures.id}) }}"><i class="material-icons">create</i></a>
            <a href="{{ path('delete.trick', {id: figures.id}) }}"><i class="material-icons">delete_sweep</i></a>
        </span>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
