{% for comment in commentsToShow %}
        <div class="col-12">
            <img src="{{ asset('uploads/profilepicture/' ~ comment.user.profilePicture) }}"
                 class="mr-3 rounded-circle embed-responsive userimg d-inline-block p-1"
                 alt="{{ 'image_utilisateur' }}">

            <span >{{ comment.user.name|capitalize }} :</span>
            <span >Le {{ comment.datecreate|date("d/m/Y") }}</span>
            <span >a écrit :</span>
            <span class="border border-dark rounded ">
                                        <span >{{ comment.text }}</span>
                                        </span>
            {% if user.name is defined and comment.user.name == user.name %}
                    <button class=" btn btn-danger text-right  p-0 ml-1">
                        <a href="{{ path('delete.comment', {id: comment.id}) }}">Supprimer</a>
                    </button>
                    <button class="btn btn-info text-right p-0"><a href="{{ path('edit.comment', {id: comment.id}) }}">Modifier</a>
                    </button>
                {% endif %}
        </div>
{% endfor %}