<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/21a4e0e6d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top " id="nav_bar">
        <a class="navbar-brand" href="{{ path('home') }}">SnowTricks</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#tricks">Tricks</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('addtrick') }}">Ajouter figure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_dashboard') }}">Mon compte</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('registration') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <nav>
        <div class="navbar navbar-expand navbar-light bg-light py-0" id="nav_bar_footer">
            {% if app.user %}
            <a class="navbar-nav d-block d-md-none text-center col-3 menu-icon" href="{{ path('home') }}">
                <i class="material-icons icon_menu_mobil">home</i></a>
            <a class="navbar-nav d-block d-md-none text-center col-3 menu-icon" href="/#tricks">
                <i class="material-icons icon_menu_mobil">bookmark</i></a>
            <a class="navbar-nav d-block d-md-none text-center col-3 menu-icon" href="{{ path('addtrick') }}">
                    <i class="material-icons icon_menu_mobil">add_box</i></a>
            <a class="navbar-nav d-block d-md-none text-center col-3 menu-icon" href="{{ path('app_logout') }}">
                <i class="material-icons icon_menu_mobil">assignment_return</i></a>
            {% else %}
                <a class="navbar-nav d-block d-md-none text-center col-4 menu-icon" href="{{ path('home') }}">
                    <i class="material-icons icon_menu_mobil">home</i></a>
                <a class="navbar-nav d-block d-md-none text-center col-4 menu-icon" href="/#tricks">
                    <i class="material-icons icon_menu_mobil" >bookmark</i></a>
                <a class="navbar-nav d-block d-md-none text-center col-4 menu-icon" href="{{ path('login') }}">
                    <i class="material-icons icon_menu_mobil">assignment_ind</i></a>
            {% endif %}
        </div>
    </nav>

</header>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<footer class="container-fluid d-flex justify-content-center align-items-center" id="footer_perso">
    <span>Copyright @ 2020</span>
    {% block custompage_script %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</footer>
</body>
</html>
