{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="container ">
        <h1 class="text-center">Votre dashboard</h1>
        <div class="row">
            <div class="col-md-6 dashboard_block_card">
                <div class="card">
                    <div class="card-header text-center">
                        Avatar
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Voici votre photo de profil</h5>
                        <div class="container-fluid">
                            <div class="text-center">
                        <img src="{{ asset('uploads/profilepicture/' ~ image) }}"
                             class="img-thumbnail"
                             alt="{{ 'image_utilisateur' }}">
                        </div></div>
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-success">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                        </div>
                </div>
            </div>
            <div class="col-md-6 dashboard_block_card">
                <div class="card">
                    <div class="card-header text-center">
                        Liste des figures
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Titre figure</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Suppression</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for figure in figure %}
                                <tr>
                                    <td>
                                        <a href="{{ path('trick', {'slug': figure.slug}) }}">{{ figure.name |capitalize }}</a>
                                    </td>
                                    <td>{{ figure.description| capitalize }}</td>
                                    <td><a href="{{ path('delete.trick', {id: figure.id}) }}" class="btn btn-danger">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
