{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des figures</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre figure</th>
                <th>Id</th>
                <th>Description</th>
                <th>Suppression</th>
            </tr>
            </thead>
            <tbody>
            {% for figure in figure %}
                <tr>
                    <td>{{ figure.name |capitalize }}</td>
                    <td>{{ figure.id |capitalize }}</td>
                    <td>{{ figure.description| capitalize }}</td>
                    <td><a href="{{ path('delete.trick', {id: figure.id}) }}" class="btn btn-danger">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
