{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des figures</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>titre figure</th>
                <th>description</th>
                <th>suppression</th>
            </tr>
            </thead>
            <tbody>
            {% for figure in figure %}
                <tr>
                    <td>{{ figure.name }}</td>
                    <td>{{ figure.description }}</td>
                    <td><a href="{{ path('delete.trickgroup', {id: figure.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    <td>{{ figure.user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
