{% extends 'base.html.twig' %}

{% block title %}{{ h1 }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ h1 }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.idfiguregroup) }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary text-center">Ajouter</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    <script src="add-collection-widget.js"></script>

{% endblock %}