{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <div class="container-fluid ">
        <div class="row bg_img_trick">
            <img class="imagebackgroundtrick"
                 src="{{ asset('uploads/image_for_design/3557.jpg ') }}"
                 alt="image de font deux snowbordeurs">
        </div>
        </div>
        <div class="container">
            {{ include('block_for_include/modal_delete.html.twig') }}
            {#{{ include('block_for_include/modal_edit_com.html.twig') }}#}
            <div class="d-flex justify-content-center">
            <div class="container trickblock">
                    <div class="row pb-2">
                        {% for message in app.flashes('success') %}
                            <div class="container-fluid pt-1">
                                <div class="alert alert-success">{{ message }}</div>
                            </div>
                        {% endfor %}
                        <div class="col-12 mb-1">
                            {% for images in image %}
                                {% if images.firstimage == true %}
                                    <div class="text-center img_first_trick">
                                        <img src="{{ asset('uploads/figureimage/') ~ images.linkpictures }}"
                                             class="rounded mt-4 img-fluid"
                                             alt="" style="max-height: 500px">
                                        <div class="centered">{{ data.name }}</div>
                                        {% if app.user %}
                                            <div class="box_buttons_edit_delete">
                                                <button type="button" class="btn btn-primary delete_modal"
                                                        data-toggle="modal"
                                                        data-slug="{{ path('delete.trick', {slug: data.slug}) }}"
                                                        data-message="Êtes-vous sûr de vouloir supprimer cette figure ?">
                                                    <i class="material-icons"
                                                       style="color: #222222">delete_sweep</i>
                                                </button>
                                                <button type="button" class="btn btn-primary"><a
                                                            href="{{ path('edit.trick', {slug: data.slug}) }}"><i
                                                                class="material-icons"
                                                                style="color: #222222">create</i></a></button>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if emptyMedia == false %}
                            <div class="container media_list ">
                                <div class="d-flex justify-content-center align-items-center">
                                <button class="btn btn-outline-primary" id="btn_see_media">See medias</button>
                                </div>
                                <div class="row carousel_mobile" id="carousel_mobile">
                                    <div class="MultiCarousel " data-items="1,2,5,6" data-slide="1" id="MultiCarousel"
                                         data-interval="1000">
                                        <div class="MultiCarousel-inner ">
                                            {% for images in image %}
                                                {% if images.firstimage == false %}
                                                    <div class="item text-center">
                                                        <div class="pad15">
                                                            <img src="{{ asset('uploads/figureimage/') ~ images.linkpictures }}"
                                                                 class="rounded mt-4 imgtrick"
                                                                 alt="">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% for video in video %}
                                                <div class="item text-center">
                                                    <div class="pad15">
                                                        <iframe class="embed-responsive-item rounded mt-4 imgtrick"
                                                                src="{{ video.linkvideo }}"
                                                                allowfullscreen
                                                                style="width: 10em; height: 10em"></iframe>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="btn btn-primary leftLst"><</button>
                                        <button class="btn btn-primary rightLst">></button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-12"><h1 class="text-center">Description de la figure</h1>
                            <div class="col-md-12 mt-4 p-2 d-inline-block text-center">
                                <p>Catégorie : <span
                                            class="badge badge-secondary">{{ data.idfiguregroup.name }}</span>
                                    Créée le : <span
                                            class="badge badge-secondary">{{ data.datecreate|date('d-m-Y') }}</span>
                                    {% if data.dateupdate is not null %}
                                        Modifié le : <span
                                            class="badge badge-secondary"> {{ data.dateupdate|date('d-m-Y') }}</span>
                                    {% endif %}</p>
                                <p>{{ data.description|capitalize }}</p>
                            </div>
                        </div>
                        {% if app.user %}
                            <div class="col-12 text-center">
                                {{ form_start(form) }}
                                {{ form_row(form.text) }}
                                <button class="btn btn-primary">Laisser un commentaire</button>
                                {{ form_end(form) }}
                                <hr>
                            </div>
                        {% endif %}
                        {% if comment %}
                            <div class="col-12" >
                                <h1 id="comment" class="text-center">Commentaires :</h1>
                                {% for comment in comment %}
                                    <div class="col-12" id="coms_list">
                                        <img src="{{ asset('uploads/profilepicture/' ~ comment.user.profilePicture) }}"
                                             class="mr-3 rounded-circle embed-responsive userimg d-inline-block p-1"
                                             alt="{{ 'image_utilisateur' }}">

                                        <span >{{ comment.user.name|capitalize }} :</span>
                                        <span >Le {{ comment.datecreate|date("d/m/Y") }}</span>
                                        <span >a écrit :</span>
                                        <br class="mobile-break">
                                        <span class="border border-dark rounded d-inline-block pl-1 pr-1 margin_left_com">
                                        <span>{{ comment.text }}</span>
                                        </span>
                                        {% if user.name is defined and comment.user.name == user.name %}
                                            <br class="mobile-break">
                                            <span class="d-inline-block margin_left_com">
                                                <button class=" btn btn-danger text-right  p-0 pl-1 delete_modal" data-toggle="modal"
                                                        data-slug="{{ path('delete.comment', {id: comment.id}) }}"
                                                        data-message="Êtes-vous sûr de vouloir supprimer cette votre commentaire ?">Supprimer
                                                </button>
                                                <button class="btn btn-info text-right p-0 btn_edit_coms"
                                                        data-id = "{{ comment.id }}" data-url="{{ path('edit.comment', {id: comment.id}) }}"
                                                ><a>Modifier</a>
                                                </button>
                                                <button class="btn btn-info text-right p-0 btn_edit_coms" data-toggle="modal"
                                                        data-id = "{{ comment.id }}" data-url="{{ path('edit.comment', {id: comment.id}) }}">
                                                    <a>Modifier via modal</a>
                                                </button>
                                                </span>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if rest == true %}
                            <div class="col-12 pt-4 text-center pb-1">
                                <a data-url="{{ path('more.coms') }}" type="button"
                                   class="btn btn-outline-primary btn_load_coms"
                                   id="btn_load_coms" data-page="2" data-pagemax="{{ pagemax }}"
                                   data-figureid="{{ data.id }}">Affichier plus de commentaires</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-center" id="loader">
                        <button class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('carrousel') }}
    {{ encore_entry_script_tags('loadmorecoms') }}
    {#{{ encore_entry_script_tags('editcoms') }}#}
{% endblock %}