{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <img class="bgtrick" src="https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg"
         alt="">
    <div class="blocktrickview container">

    <div class="container trickblock">
        <div class="col-md-12 commentinblock">
        {% for image in image %}

            <img src="{{ image.linkpictures }}" class="rounded mt-4" style="max-height: 200px; max-width: 200px" alt="">

        {% endfor %}
        </div>
        <div class="col-md-12 mt-3 mb-3">
            <h1>description figure</h1>
            <p>{{ data.description }}</p>
        </div>
        <div class="col-md-12 mt-4 cattrick">
            <h1>Categories de la figure</h1>
            <p>{{ data.idfiguregroup.name }}</p>
        </div>
        {% if app.user %}
        {{ form_start(form) }}
        {{ form_row(form.text) }}
        <button class="btn btn-primary">Laisser un commentaire</button>
        {{ form_end(form) }}
        {% endif %}
        <h1>Commentaires :</h1>
        {% for comment in comment %}
            <h3 class=""></h3>
            <img src="{{ comment.user.picturelink }}" class="mr-3 rounded-circle embed-responsive commentinblock userimg"
                 alt="">
            <h3 class = "commentinblock">{{ comment.user.name }} </h3> <label for="">à écrit :</label>
            <section class="test2 commentinblock">{{ comment.text }}</section>
        {% endfor %}
    </div>

{% endblock %}